* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
}
@media (min-width:320px)  {
     /* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    align-items: center;
}

.header .logo {
    display: flex;
    width: 120px;
    height: 75px;
    margin: -10px;
    cursor: pointer;
}

.header .menu {
    display: flex;
    gap: 4rem;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.content {
    padding: 2.5rem;
    width: 60%;
    display: flex;
    height: 50vh;
}

.content .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content .title {
    font-size: 55px;
    font-weight: 850;
    color: #fff;
    letter-spacing: 8px;
}

.content .sub-title {
    font-weight: 35px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5px;
}

.content .description {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 25px;
}
.content .explore {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background: #fff;
    color: black;
    text-align: center;
    width: 8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}
.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
}
#github:hover {
    transform: scale(1.5);
}
#facebook:hover {
    transform: scale(1.5);
    fill: blue;
}
#instagram:hover {
    transform: scale(1.5);
    fill: orangered;
}
#linkedin:hover {
    transform: scale(1.5);
    fill: blue;
}
.socialmedia svg {
    margin: 15px 15px;
    width: 20px;
    cursor: pointer;
}